<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<header class="header" style="text-align:center">
  <h1 class="welcome">Welcome to {{ title }}!</h1>
  <p class="welcome-note">
    Flood can be very disaterous! We are commited to helping you get flood
    information of any area in Ibadan metropolies
  </p>
</header>

<router-outlet></router-outlet>

<footer class="container-fixed">
  <section class="copyright-container">
    <p class="copyright">Tophillgeohydro &copy; 2020. All right reserved</p>
    <p class="copyright">
      Powered by SmarTech Consortium
    </p>
  </section>
</footer>
